  <!--contact area start-->
  <div class="contact_area">
    <div class="container">   
        <div class="row">
            <div class="col-lg-6 col-md-12">
               <div class="contact_message content">
                    <h3>contact us</h3>    
                     <p>At Reid, we're dedicated to providing exceptional service and assistance to our valued customers. Whether you have questions about our products, need help with sizing, or just want to say hello, we're here to assist you every step of the way. Feel free to reach out to us via the contact form below, and our friendly team will get back to you as soon as possible. Additionally, you can connect with us through email or phone during our business hours. Your feedback is important to us, as we strive to continually improve our offerings and ensure your satisfaction. Thank you for choosing Reid!</p>
                    <ul>
                        <li><i class="fa fa-fax"></i>  Address : Your address goes here.</li>
                        <li><i class="fa fa-phone"></i> 0123456789
                        <li><i class="fa fa-envelope-o"></i> info@ibu.edu.ba</li>
                    </ul>             
                </div> 
            </div>
            <div class="col-lg-6 col-md-12">
               <div class="contact_message form">
                    <h3>Tell us your project</h3>   
                    <form id="contact-form" method="POST">
                        <p>  
                           <label> Your Name (required)</label>
                            <input name="name" placeholder="Name *" type="text"> 
                        </p>
                        <p>       
                           <label>  Your Email (required)</label>
                            <input name="email" placeholder="Email *" type="email">
                        </p>
                        <p>          
                           <label>  Subject</label>
                            <input name="subject" placeholder="Subject *" type="text">
                        </p>    
                        <div class="contact_textarea">
                            <label>  Your Message</label>
                            <textarea placeholder="Message *" name="message"  class="form-control2" ></textarea>     
                        </div>   
                        <button type="submit"> Send</button>  
                        <p class="form-messege"></p>
                    </form> 

                </div> 
            </div>
        </div>
    </div>    
</div>

<!--contact area end-->