   <!--faq area start-->
   <div class="faq_content_area">
    <div class="container">   
        <div class="row">
            <div class="col-12">
                <div class="faq_content_wrapper">
                    <h4>Below are frequently asked questions, you may find the answer for yourself</h4>
                    <p>Welcome to our FAQ page, where we aim to provide answers to commonly asked questions about our clothing store. We understand that navigating the world of fashion and online shopping can sometimes raise queries, and we're here to address them. Below, you'll find answers to a selection of frequently asked questions that may assist you in your shopping experience. If you can't find the information you're looking for, don't hesitate to reach out to us directly. We're here to ensure your journey with us is as smooth and enjoyable as possible.</p>

                </div>
            </div>
        </div> 
    </div>    
</div>
 <!--Accordion area-->
<div class="accordion_area">
    <div class="container">
        <div class="row">
        <div class="col-12"> 
            <div id="accordion" class="card__accordion">
              <div class="card card_dipult">
                <div class="card-header card_accor" id="headingOne">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        What is your return policy?

                      <i class="fa fa-plus"></i>
                      <i class="fa fa-minus"></i>

                    </button>

                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                       <p>Our return policy allows for hassle-free returns within 30 days of purchase.</p>
                  </div>
                </div>
              </div>
              <div class="card  card_dipult">
                <div class="card-header card_accor" id="headingTwo">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        How do I track my order?
                       <i class="fa fa-plus"></i>
                       <i class="fa fa-minus"></i>

                    </button>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                  <div class="card-body">
                    <p>You can easily track your order using the tracking number provided in your order confirmation email.</p>
                  </div>
                </div>
              </div>
              <div class="card  card_dipult">
                <div class="card-header card_accor" id="headingThree">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Do you offer international shipping?
                       <i class="fa fa-plus"></i>
                       <i class="fa fa-minus"></i>
                    </button>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                  <div class="card-body">
                    <p>Yes, we offer international shipping to many countries worldwide.</p>
                  </div>
                </div>
              </div>
              <div class="card  card_dipult">
                <div class="card-header card_accor" id="headingfour">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseeight" aria-expanded="false" aria-controls="collapseeight">
                        What sizes are available for your clothing items?
                       <i class="fa fa-plus"></i>
                       <i class="fa fa-minus"></i>
                    </button>
                </div>
                <div id="collapseeight" class="collapse" aria-labelledby="headingfour" data-parent="#accordion">
                  <div class="card-body">
                    <p>Our clothing items are available in a range of sizes from XS to XXL, catering to various body types.</p>
                  </div>
                </div>
              </div>
              <div class="card  card_dipult">
                <div class="card-header card_accor" id="headingfive">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseseven" aria-expanded="false" aria-controls="collapseseven">
                        Can I cancel or modify my order after it's been placed?
                       <i class="fa fa-plus"></i>
                       <i class="fa fa-minus"></i>
                    </button>
                </div>
                <div id="collapseseven" class="collapse" aria-labelledby="headingfive" data-parent="#accordion">
                  <div class="card-body">
                    <p>Orders can be cancelled or modified within 24 hours of placement. Please contact us for assistance.</p>
                  </div>
                </div>
              </div>

              <div class="card  card_dipult">
                <div class="card-header card_accor" id="headingsix">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                        Do you offer gift wrapping services?
                       <i class="fa fa-plus"></i>
                       <i class="fa fa-minus"></i>
                    </button>
                </div>
                <div id="collapsefour" class="collapse" aria-labelledby="headingsix" data-parent="#accordion">
                  <div class="card-body">
                    <p>Yes, we offer gift wrapping services for a small additional fee.</p>
                  </div>
                </div>
              </div>
              <div class="card  card_dipult">
                <div class="card-header card_accor" id="headingseven">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                        Are your products ethically sourced and sustainable?
                       <i class="fa fa-plus"></i>
                       <i class="fa fa-minus"></i>
                    </button>
                </div>
                <div id="collapsefive" class="collapse" aria-labelledby="headingseven" data-parent="#accordion">
                  <div class="card-body">
                    <p>Yes, we prioritize ethically sourced materials and sustainable practices in our manufacturing processes.</p>
                  </div>
                </div>
              </div>
              <div class="card  card_dipult">
                <div class="card-header card_accor" id="headingeight">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                        How can I contact customer support for assistance?
                       <i class="fa fa-plus"></i>
                       <i class="fa fa-minus"></i>
                    </button>
                </div>
                <div id="collapsesix" class="collapse" aria-labelledby="headingeight" data-parent="#accordion">
                  <div class="card-body">
                    <p>You can reach our customer support team via email at info@ibu.edu.ba or by phone at 0123456789.</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    </div>
</div>
<!--Accordion area end-->
<!--faq area end-->