<div class="single_product">
    <div class="product_thumb">
        <a class="primary_img" href="#productdetails" data-load="#productdetails"><img
                src="assets/img/product/product15.jpg" alt=""></a>
        <a class="secondary_img" href="#productdetails" data-load="#productdetails"><img
                src="assets/img/product/product16.jpg" alt=""></a>
        <div class="product_action">
            <div class="hover_action">
                <a href="#"><i class="fa fa-plus"></i></a>
                <div class="action_button">
                    <ul>
                        <li><a title="add to cart" href="cart.html"><i class="fa fa-shopping-basket"
                                    aria-hidden="true"></i></a></li>
                        <li><a href="wishlist.html" title="Add to Wishlist"><i class="fa fa-heart-o"
                                    aria-hidden="true"></i></a></li>
                        <li><a href="compare.html" title="Add to Compare"><i class="fa fa-sliders"
                                    aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="quick_button">
            <a href="#" data-toggle="modal" data-target="#modal_box" title="quick_view">+ quick view</a>
        </div>

        <div class="product_sale">
            <span>-7%</span>
        </div>
    </div>

    <div class="product_content grid_content">
        <h3><a href="product-details.html">Acronym j28k Jacket</a></h3>
        <span class="current_price">£60.00</span>
        <span class="old_price">£86.00</span>
    </div>


    <div class="product_content list_content">
        <h3><a href="product-details.html">Marshall Portable Bluetooth</a></h3>
        <div class="product_ratting">
            <ul>
                <li><a href="#"><i class="fa fa-star"></i></a></li>
                <li><a href="#"><i class="fa fa-star"></i></a></li>
                <li><a href="#"><i class="fa fa-star"></i></a></li>
                <li><a href="#"><i class="fa fa-star"></i></a></li>
                <li><a href="#"><i class="fa fa-star"></i></a></li>
            </ul>
        </div>
        <div class="product_price">
            <span class="current_price">£60.00</span>
            <span class="old_price">£86.00</span>
        </div>
        <div class="product_desc">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis ad, iure incidunt. Ab consequatur
                temporibus non eveniet inventore doloremque necessitatibus sed, ducimus quisquam, ad asperiores eligendi
                quia fugiat minus doloribus distinctio assumenda pariatur, quidem laborum quae quasi suscipit.
                Cupiditate dolor blanditiis rerum aliquid temporibus, libero minus nihil, veniam suscipit? Autem
                repellendus illo, amet praesentium fugit, velit natus? Dolorum perferendis reiciendis in quam porro
                ratione eveniet, tempora saepe ducimus, alias?</p>
        </div>

    </div>

</div>